# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
settings.json
Settings.json
*.pfx
*.p12
*.snk
signing*.ps1
signing*.cmd
signing*.bat
droppedfiles.txt

# Build results
bin/
obj/

# Visual Studio cache
.vs/

# Logs
*.log

# Debug and release folders
Debug/
Release/

# NuGet packages
*.nupkg
packages/
